<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>大堂入住</title>
    <style>
    th,td{
        text-align: center;
        padding: 10px;
    }
    </style>
</head>
<body>
    <table>
        <thead>
            <th>房间编号</th>
            <th>类型编号</th>
            <th>类型名称</th>
            <th>房间位置</th>
            <th>房间面积</th>
            <th>床位数量</th>
            <th>早餐</th>
            <th>网络</th>
            <th>电视</th>
            <th>浴室</th>
            <th>价格</th>
            <th>操作</th>
        </thead>
        <tbody class="list">
            
        </tbody>
    </table>
    <script>
    $.ajax({
        type:'get',
        url:'/api/stay/search_room',
        success:function(e){
            if(e.code==0){
                var html='';
                var data=e.data;
                for(var i in data){
                    html+=`<tr>
                <td>${data[i]['roomnum']}</td>
                <td>${data[i]['roomtype_id']}</td>
                <td>${data[i]['roomtype_name']}</td>
                <td>${data[i]['position']}</td>
                <td>${data[i]['room_size']}</td>
                <td>${data[i]['bednum']}</td>
                <td>${data[i]['breakfast']}</td>
                <td>${data[i]['webnet']}</td>
                <td>${data[i]['tv']}</td>
                <td>${data[i]['bathroom']}</td>
                <td>${data[i]['price']}</td>
                <td><a href="stayin?${data[i]['room_id']}">办理入住</a></td>
            </tr>`;
                }
                $('.list').html(html);
            }
        },
        error:function(e){
            debugger
        }
    })
    </script>
</body>
</html>