<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>房间类型添加</title>
</head>
<body>
    类型<input type="text">
    <script>
        $.ajax({
            type:'post',
            url:'/api/room/add_type',
            data:{
                
            },
            success:function(e){
                debugger
            },
            error:function(e){
                debugger
            }
        })    
    </script>
</body>
</html>