<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>房间类型</title>
</head>

<body>
    <table>
        <thead>
            <th>序号</th>
            <th>房间类型</th>
            <th>房间名称</th>
            <th>房间大小</th>
            <th>时价</th>
            <th>天价</th>
            <th>月价</th>
            <th>浴室</th>
            <th>早餐</th>
            <th>电视</th>
            <th>网络</th>
            <th>操作</th>
        </thead>
        <tbody class="list">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="" tabindex=""></td>
        </tbody>
    </table>
    <script>
        // 多表联查 类型-价格
        function moreTab() {
            $.ajax({
                type: 'get',
                url: '/api/room/searchPage',
                success: function (e) {
                    if(e.code==0){
                        var html='';
                    }
                },
                error: function (e) {
                    debugger
                }
            })
        }
        moreTab();
    </script>
</body>

</html>